/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp LC(LG(Q))  &kp K_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_PAUSE  &kp C_NEXT                           &kp N6         &kp N7  &kp N8         &kp N9   &kp N0    &kp BACKSPACE
&kp TAB        &kp Q       &kp W              &kp E            &kp R        &kp T                                &kp Y          &kp U   &kp I          &kp O    &kp P     &kp BACKSPACE
&kp LSHFT      &kp A       &kp S              &kp D            &kp F        &kp G                                &kp H          &kp J   &kp K          &kp L    &kp SEMI  &kp SQT
&kp LCTRL      &kp Z       &kp X              &kp C            &kp V        &kp B         &kp LBKT     &kp RBKT  &kp N          &kp M   &kp COMMA      &kp DOT  &kp FSLH  &kp ESC
                                              &kp LEFT_WIN     &mo 1        &kp LEFT_ALT  &kp SPACE    &kp RET   &kp RIGHT_ALT  &mo 2   &kp RIGHT_WIN
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp ESCAPE  &kp LS(LG(SPACE))  &trans         &trans            &trans                &trans                                   &trans        &trans  &trans        &trans     &trans        &trans
&trans      &kp F2             &kp F3         &kp F4            &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS                    &kp NUMBER_7  &kp N8  &kp N9        &kp EQUAL  &kp MINUS     &trans
&trans      &kp EXCL           &kp AT         &kp HASH          &kp LEFT_BRACKET      &kp RIGHT_BRACKET                        &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp N0     &kp UP_ARROW  &kp DEL
&trans      &kp BACKSLASH      &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans    &trans  &kp N1        &kp N2  &kp N3        &kp LEFT   &kp DOWN      &kp RIGHT
                                              &trans            &trans                &trans                 &trans    &trans  &trans        &trans  &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans            &trans          &trans      &trans      &trans             &trans                                  &trans        &trans        &trans        &trans        &trans        &trans
&kp C_PLAY_PAUSE  &kp C_PREVIOUS  &kp C_NEXT  &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP                            &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp N9        &kp N0        &trans
&kp F1            &kp F2          &kp F3      &kp F4      &kp ASTRK          &kp LEFT_PARENTHESIS                    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_0  &kp UP_ARROW  &trans
&kp F7            &kp F8          &kp F9      &kp F10     &kp UNDER          &kp EXCL              &trans    &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT      &kp DOWN      &kp RIGHT
                                              &trans      &trans             &trans                &trans    &trans  &trans        &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans                 &trans             &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &kp PIPE  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &kp AT                 &kp SINGLE_QUOTE   &kp BSLH  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                 &trans             &trans    &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans                 &trans             &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer-4 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
